In [5]:
import pandas as pd
df=pd.read_csv("index.csv")

In [2]:
#Task 1
df.iloc[:,2:3]

      8
0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15   10
16    0
17    0
18    0
19    0
20   55
21    0
22   70
23    3
24    0
25    0
26    0
27   55
28    0
29    0
..   ..
226   0
227   0
228   0
229   0
230   0
231   0
232   0
233   0
234   0
235  65
236   0
237   0
238   0
239   0
240   0
241   0
242   0
243   0
244   0
245   0
246   0
247   0
248   0
249   0
250   0
251   0
252   6
253   0
254  45
255   6

[256 rows x 1 columns]

In [3]:
# Task 2
df.iloc[:,-2:]

     0.3  3
0      0  3
1      0  3
2      0  3
3      0  3
4      0  3
5      0  3
6      0  3
7      0  3
8      0  3
9      0  3
10     0  3
11     0  3
12     0  3
13     0  3
14     0  3
15     0  U
16     0  U
17     0  3
18     0  3
19     0  3
20     0  3
21     0  U
22     0  3
23     0  1
24     0  3
25     0  3
26     0  3
27     0  3
28   500  3
29     0  5
..   ... ..
226    0  2
227    0  3
228    0  3
229    0  3
230    0  3
231    0  3
232    0  3
233    0  5
234    0  3
235  500  3
236    0  3
237    0  5
238    0  3
239    0  3
240    0  3
241    0  3
242  600  3
243    0  3
244    0  3
245    0  2
246    0  3
247    0  3
248    0  3
249    0  3
250    0  3
251    0  3
252    0  3
253    0  3
254    0  3
255    0  3

[256 rows x 2 columns]

In [4]:
# Task 3
df.iloc[-10:,:2]

     C  A
246  C  R
247  C  A
248  C  A
249  C  R
250  C  A
251  C  A
252  C  R
253  C  A
254  C  K
255  C  R